.imagen{
    padding-left: 10%;
    position: left;
}
nav.navbar{
background-color: rgb(24, 121, 202) !important;
}
#navbarNav{
    padding-left: 49%;
}
.nav-item{
    margin-right: 10px;
}
section.col-lg-12{
    background: rgb(24,121,202)!important;
background: linear-gradient(180deg, rgba(24,121,202,1) 8%, rgba(29,174,253,1) 40%, rgba(255,255,255,1) 78%)!important;
}
.d-grid{
    padding-left: 2.2%;
    text-align: left;
}
.btn-primary{
    border-radius: 10px;
    background-color: rgb(24, 121, 202) !important;
    border:none;
    

}
.btn-primary:hover{
    border-radius: 10px;
    background-color: rgb(51, 57, 95) !important;
    border:5px;
    
}
.botonch{
    border-radius: 10px;
    background-color: rgb(102, 133, 158) !important;
}
.carousel-item{
border-radius: 10px;
}
.card{
    text-align: center;
    
}

footer{
    background-color: rgb(83, 78, 78)!important;
}