.imagen{
    padding-left: 10%;
    position: left;
}
nav.navbar{
background-color: rgb(24, 121, 202) !important;
}
#navbarNav{
    padding-left: 49%;
}
.nav-item{
    margin-right: 10px;
}
section.col-lg-12{
    background: rgb(24,121,202)!important;
background: linear-gradient(180deg, rgba(24,121,202,1) 8%, rgba(29,174,253,1) 40%, rgba(255,255,255,1) 78%)!important;
}
.d-grid{
    padding-left: 2.2%;
    text-align: left;
}
.btn-primary{
    border-radius: 10px;
    background-color: rgb(24, 121, 202) !important;
    border:none;
    

}
.btn-primary:hover{
    border-radius: 10px;
    background-color: rgb(51, 57, 95) !important;
    border:5px;
    
}
.botonch{
    border-radius: 10px;
    background-color: rgb(102, 133, 158) !important;
}
.carousel-item{
border-radius: 10px;
}
.card{
    text-align: center;
    
}

footer{
    background-color: rgb(83, 78, 78)!important;
}
.datos-personales{
            display: grid;
            grid-template-columns: 180px 200px;
            row-gap: 1rem;
            margin: 1rem;
            line-height: 1.5rem;
            font-family: Arial, Helvetica, sans-serif;
        }
		


*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}



#bookForm {
  align-items: center;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  padding: 8px;
}

#bookForm input {
  display: none;
}

#bookForm label {
  background-color: #00AF3F;
  border-radius: 25px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 200;
  height: 35px;
  line-height: 35px;
  padding: 0 20px;
}

#bookTable {
  border-collapse: collapse;
  border: 1px solid #e5e5e5;
}

#bookTable td,
#bookTable th {
  color: #444;
  font-size: 14px;
  padding: 15px 15px;
}

#bookTable thead {
  border-bottom: 2px solid #ddd;
}

#bookTable thead th {
  background-color: #f5f5f5;
}

#bookTable tbody {
  padding: 10px;
}

#bookTable tbody tr:not(:last-child) {
  border-bottom: 1px solid #eee;
}

#bookTable tbody td:not(:last-child) {
  border-right: 1px solid #eee;
}
.cardd{
  padding-bottom: 2%;
}

.card {display:inline-block;}
footer {
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
}