.imagen{
    padding-left: 10%;
    position: left;
}
nav.navbar{
background-color: rgb(24, 121, 202) !important;
}
#navbarNav{
    padding-left: 49%;
}
.nav-item{
    margin-right: 10px;
}
body{
    background: rgb(24,121,202)!important;
background: linear-gradient(180deg, rgba(24,121,202,1) 8%, rgba(29,174,253,1) 40%, rgba(255,255,255,1) 78%)!important;
}
.botones-main{
    text-align: center;
}
#suggestion_box textarea, #suggestion_box button[type="submit"] { font:400 16px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#suggestion_box {
	
	padding:25px;
	margin:50px 0;
}

#suggestion_box h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#suggestion_boxh4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

#suggestion_box h5 {
	margin:5px 0 15px;
	display:block;
	font-size:10px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#suggestion_box textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#suggestion_box textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#suggestion_box button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#suggestion_box button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#suggestion_box button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#suggestion_box input:focus, #suggestion_box textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}